.task-action {
    cursor: pointer;
}

.task-action1 {
    cursor:grabbing;
}

.task-completed {
    color: gray;
    text-decoration: line-through;

}

.task-pending {
    font-weight: bold;
    color: tomato;

}